*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
    background-color: darkgray;
    font-size:14px;
    color: black;
    text-decoration: none;
}
h2,h3,p,li{
    margin-bottom: 10px;
    margin-top: 10px;
}
h3{
    color:dimgray;
  
}
p{
    line-height: 2em;
}
header a{
  text-decoration:none;
    color:white;
  
}
header{
    height:60px;
    background-color:#333333;
}
header img{
    padding-top: 10px;
    height: 40px;
    padding-left:50px;
}
header ul{
    float:right;
   margin-top: 10px;
}
header li{
    float: left;
    width:100px;
}
section{
    background-color: white;
    margin:22px;
    margin-right: 444px;
    padding:30px;
}
section ul{ 
    margin-left: 30px;
}
section ol{
    margin-left: 50px;
}
footer{
    height: 70px;
    background-color:black;
}
footer p{
    color:white;
    text-align:center;
    line-height: 70px;
}
blockquote{
    width:100px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    border: 1px solid dimgray;
    text-align: center;
    padding: 10px;
    display: inline-block;
}
.photo{
    overflow: auto;
}
blockquote img{
    
    width: 80px;
}
blockquote p{
    line-height: 1em;
    margin-top:0px;
    margin-bottom: 10px
}
.start{
    text-indent: 2em;
}
#list{
    list-style:none;
}
table{
    width: 95%;
    border: 1px solid black;
    caption-side: top;
   border-spacing: 0px; 
    margin: 0 auto;
    
}
th{
    background-color: black;
    color: white;
}
th,td{
    border:1px solid lightgray;
    height:25px;
}
.add{
    background-color: gray;
}
form{
    display: table;
    padding-left: 40PX;
}
form textarea{
    width: 200px;
    height:80px;
}
div.tablerow{
    display: table-row;
}
div.tablerow p{
    display: table-cell;
    padding: 3px;
    padding-right: 8px;
}
div.tablerow p:first-child{
    text-align: right;
}
p.lighter{
    color:gray;
}

.submit input{
    color: white;
    background-color: darkturquoise;
    width:350px;
    height:30px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}


aside{
width: 400px;
    float: right;
background-color: white;
    padding: 20px;
    margin:22px;
    
}

aside p {
    font-size: 12px;
}
















